/*--CSS Reset --*/
* {
    padding: 0;
    margin:0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

body {
    background: #F2E0BD;
    color: #592E25;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em
}

article{
    background: #ffffff;
    padding: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat (3 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax (400px auto);
}

section, header, footer{
    width:  80%;
    max-width: 2000px;
    margin: auto;
    margin-bottom: 0.1rem;
    padding: 0.1em 0;

}
.light {background:#A64521;}

.dark {background:#BF7B54;}

@media only screen 
and (min-device-width: 320px)
and (max-device-width: 400px)
{
    p{font-size: 1.3rem;}
    h1{font-size: 3.5rem;}
    header h2{font-size: 3.75rem;}

}

.gridimage{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

header p {
    color: seashell;
}
/*--styling typeograpghy--*/

h1,h2, blockquote {
    color: #592E25;

}

h2 

h1, h2{
    font-family: lust-script, sans-serif;
}

p,blockquote {
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-family:Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 3.052rem;
    margin-top: 2em;

}

h2 {
    font-size: 1.953rem;
    margin: 1em 0;
}

header h1 {
    color:#F2E0BD;

}

footer h2 {
    color:#F2E0BD;
}

footer p {
    color:#F2E0BD;
}

header h2 {
    color:#F2E0BD;
}

p {
    color: #592E25;
    font-size: 1rem;
    padding: 1em 0;
    line-height: 1.4;
}

blockquote{
    font-size: 1.9999rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.75rem;
    font-family: grad, serif;
}

footer {
    font-size: 3.052rem;
    margin-top: 2em;
}


cite {
    font-size: 1rem;
    font-style: normal;
    color: #A64521;
}

/*--styling links--*/
a {
    color: #A64521;
    text-decoration: none;

}


a:hover {
    color:cornflowerblue;
    border-bottom: 1px dotted;
    
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #592E25;
    padding:2em 0;
    font-size: 0.75rem;

}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
 
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a {
    color:#F2E0BD;

}

nav a:hover {
    border-bottom: none;
    color:rgb(203, 1, 248);
    transition: all 0.3s ease-in-out
}
/*--image control--*/

img {
    display: block;
    margin: 4em 0;
    padding: 0;
    width: 100%;
}

hr{
    margin: 100px 0;
    height: 1px;
    background-color: black;
    color: black;
    border: 0 none;
    
}

footer{
    text-align: center;
    font-size: 1rem;
    margin: 2em 0 3em 0;
}

.connections{
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  .connections ul{
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .connections li{
      align-items: center;
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;  
  }
  .connections a:link{
    border-bottom: none;
  }
  .connections img,
  .connections svg{
    border: none;
  }
  .connections a:hover img,
  .connections a:hover svg{
    border-bottom: none;}
  
  .connections svg {
        margin: 2em auto;}
  
  .connections a:hover svg path {
        fill: #ff7300;
        transition: all 0.2s ease-in-out;}
  
  footer .connections a:hover svg path {
          fill:  #ff6600;
          transition: all 0.2s ease-in-out;}